* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}  



body {
    background-image: linear-gradient(#ffffff 0%, #67B594 100%);
    color: white;
    font-family: sans-serif;
    min-height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

.page-div {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

}
.page-div2 {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-box {
    position: absolute;
    width: 500px;
    height: 700px;    
    background: #32C992;
    border: 1px solid black;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-div {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 50%;
    width: 100%;
}

.login-form {
    position: absolute;
    left: 0;
    top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0;
    width: 100%;
    height: 100%; 
}

.register-form {
    position: absolute;
    left: 0;
    top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0;
    width: 100%;
    height: 100%;  
}

.form-input {
    text-align: center;
    margin: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
    border: 1px solid;
    outline: none;
    border-radius: 5px;
    background: #32C96E;
    width: 80%;
    height: 34px;
}

.buttons {
    width: 40%;
    height: 34px;
    background: #32B5C9;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 5px;
}

.logo {
    position: absolute;
    bottom: 500px;
    height: 50%;
    width: 70%;
    background-image: url(logoImages/logo_transparent.png);
    background-size: cover;
    top: -20px;
    left: 80px;
}

.register-click {
    position: absolute;
    cursor: pointer;
    color: blue;
    bottom: -5px;
}

.loginButton {
    position: relative;
    top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.registerButton {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fpwrd-text {
    right: 50px;
    top: 200px;
    cursor: pointer;
    color: blue;
    position: absolute;
}


.fullscreen {
    position: relative;
    width: 100%;
    height: 100%;
}

.navbar {
    position: relative;
    top: 0;
    background-color: rgb(26, 163, 106);
    color: rgb(0, 0, 0);
    width: 100%;
    height: 100px;
    z-index: 999;
    box-shadow: 1px 1px 5px #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.nav-logo-div {
    display: flex;
    width: 100px;
    height: 100px;
    overflow: hidden;
    cursor: pointer;
}

.nav-logo {
    position: absolute;
    top: -75px;
    left: -40px;
    width: 250px;
    height: auto;
}

.navbuttons-div {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    flex-flow: wrap;

}

.navbuttons {
    width: 15%;
    height: 50%;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #7af0d2;
    border-radius: 10px;
    cursor: pointer;
    margin: 0 50px 0 -50px;
}


@media (max-width: 1700px) {
    .navlogo {
        margin-right: 0;

    }

    .navbuttons {
        margin-left: -50px;
        margin-top: -60px;
    }
}

.profile-div {
    position: absolute;
    width: 30%;
    height: 70%;
    /* border: 1px solid #000000; */
    border-radius: 5px;
    margin: 2% 10%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgb(255, 248, 248);
    box-shadow: 0.01px 0.01px 5px #000000;
}


.logoutButton {
    position: absolute;
    bottom: 0;
    width: 30%;
    height: 5%;
    margin: 0 0 5px;
    border: 1px solid black;
    border-radius: 5px;
    background: #1cd579;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logoutButton:hover {
    outline: none;
}

.loggedInDiv {
    position: absolute;
    width: 100%;
    height: 10%;
    background:#1cd579;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #000000;
}

.loggedInName {
    display: flex;
    justify-content: center;
    align-items: center;
}

.groups-div {
    position: absolute;
    margin: 2% 10%;
    right: -100px;
    /* top: 100px; */
    width: 40%;
    height: 70%;
    /* border: 1px solid #000000; */
    /* border-radius: 5px; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.homepage-groups {
    display: flex;
    justify-content: center;
    list-style: none;
}

.searchTable {
    background-color: hotpink;
}

.search-input {
    position: static;
    float:left;
    border: 1px solid;
    background: #32C96E;
    padding-left: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 20%;
    height: 34px;
    border-radius: 5px;
    margin: 5px;
}

/* position: absolute;
text-align: left;
margin: 5px;
padding-left: 10px;
padding-top: 20px;
padding-bottom: 20px;
border: 1px solid;
outline: none;
border-radius: 5px;
background: #32C96E;
width: 20%;
height: 34px;
margin: 0;
position: absolute;
top: 20%;
left: 37%;
transform: translate(-50%, -50%); */

.searchButton {
    position: static;
    float:left;
    width: 15%;
    height: 40px;
    background: #32B5C9;
    border: 1px solid #000000;
    box-sizing: border-box;
    margin: 5px;
    border-radius: 5px;
}

/* position: absolute;
top: 30px;
width: 30%;
justify-content: center;
top: 0%;
margin-left: 50px;
right: 20%; */

/* .buttons {
    width: 40%;
    height: 34px;
    background: #32B5C9;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 5px;
} */

.searchWrapper {
    position: relative;
    display: flex;
    width: 100%;
    flex-direction: column;
    padding-left: 33%;
}

.searchTable {
    position: relative;
    background-color: hotpink;
}

.fullSearch {
    width:100%;
    height: 80%;
    position: absolute;
    overflow: hidden;
    overflow-y: scroll;
    justify-content: center;
}

.searchyTable {
    position: relative;
    width: 100%;
    margin: 2%;
    border-collapse:separate; 
    border-spacing:5px;
    left: 7%;
}

.groupName {
    background-color: rgb(134, 212, 167);
    margin-top: 5px;
    padding-left: 20px;
    border-radius: 15px;
    width: 70%;
    border: 1px solid #000000;
    color: black;
}

.joinButton {
    background: #32B5C9;
    border: 1px solid #000000;
    border-radius: 15px;
    height: 40px;
    width: 40%;
}

.searchRow {
    padding-bottom: 5px;
    padding-top: 5px;
    margin: 5px;
}
.group-names {
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 15%;
    /* border: 1px solid black; */
    border-radius: 2px;
    margin: 0 0 10px;
    box-shadow: 0.01px 0.01px 5px #000000;
    color: black;

}

.hpg-group-button{
    position: absolute;
    width: 15%;
    height: 5%;
    right: 0;
    border: 1px solid black;
    margin: 0 5px 0;
    border-radius: 20px ;
    background-color: #1cd579;
    font-size: small;
}

.hpg-group-button:focus {
    outline: none;
}

.myissue-wrapper { 
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.myissues-div {
    position: absolute;
    align-items: center;
    width: auto;
    height: 74%;
    flex-direction: column;
    overflow: hidden;
    overflow-y: auto;
    top: 30px;   
    padding-right:15px; 
}

.myissue-name {
    position: relative;
    background: white;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 700px;
    height: 150px;
    border-radius: 2px;
    margin: 10px 5px 10px;
    box-shadow: 0.01px 0.01px 5px #000000;
    
}

.myissue-topic {

    position: absolute;
    top: 0;
    /* border: 1px solid black; */
    padding: 3px 0 3px;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: darkgreen;
    color: white;

}

.myissue-description {

    /* border: 1px solid black; */
    padding: 2px;
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    height: 80%;
    bottom: 0;
    
}

.myissue-button {

    position: absolute;
    width: 20%;
    height: 20%;
    right: 0;
    bottom: 0;
    border: 1px solid black;
    margin: 0 5px 3px;
    border-radius: 20px ;
    background-color: #1cd579;
    font-size: small;

}
.myissue-button:focus {
    outline: none;
}

.mygroups-div {
    position: absolute;
    margin: 2% 10%;
    left: -100px;
    /* top: 100px; */
    width: 40%;
    height: 70%;
    /* border: 1px solid #000000; */
    /* border-radius: 5px; */
    /* display: flex; */
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
    overflow: hidden;
    overflow-y: scroll;
}

.mygroup-names {
    background: white;
    display: flex;
    color: black;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 10%;
    border: 1px solid black;
    border-radius: 2px;
    margin: 0 0 10px;
    box-shadow: 0.01px 0.01px 5px #000000;
}

.issues-div {
    position: absolute;
    /* top: 100px; */
    margin-top: 1.5%;
    width: 100%;
    height: 88%;
    /* border: 1px solid #000000; */
    /* border-radius: 5px; */
    /* display: flex; */
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
    overflow: hidden;
    overflow-y: scroll;
}

.sidebar {
    right: -100px;
    position: absolute;
    width: 50%;
    height: 70%;
    /* border: 1px solid #000000; */
    border-radius: 5px;
    margin: 2% 10%;
    background-color: rgb(255, 248, 248);
    box-shadow: 0.01px 0.01px 5px #000000;
}

.post-button {
    position: absolute;
    width: 15%;
    border: 1px solid black;
    margin: 0 5px 0;
    margin-top: 1%;
    height: 70%;
    margin-left: 40%;
    border-radius: 20px ;
    color: green;
    background-color: #ffffff;
    font-size: small;
    float: left;
}

.table-header {
    position: relative;
    background-color: rgb(3, 100, 60);
    height: 10%;
}

.group-title{
    margin-top: 1.5%;
    margin-left: 2%;
    float: left;
    text-overflow: ellipsis;
    width: 40%;
    color: white;
}

.myissue-names {
    color: black;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 15%;
    border: 1px solid black;
    border-radius: 2px;
    margin: 0 0 10px;
    box-shadow: 0.01px 0.01px 5px #000000;
}

.leftMarg {
    margin-left:1%;
}
 
.response-button {
    position: absolute;
    width: 15%;
    height: 10%;
    right: 0;
    border: 1px solid black;
    margin: 0 5px 0;
    border-radius: 20px ;
    background-color: #1cd579;
    font-size: small;
}

.post-issue {
    width: 500px;
    max-width: 100%;
    margin: 0 auto;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    background-color: rgb(168, 255, 214);
    border-radius: 20px ;
    padding: 5px;
    align-content: center;
    border:1px solid black;
    color: black;
}

.topic-input {
    text-align: left;
    margin: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 5%;
    border: 1px solid;
    outline: none;
    border-radius: 5px;
    background: #ffffff;
    width: 80%;
    height: 34px;
    margin-left: 10%;
}

.desc-input {
    text-align: left;
    margin: 5px;
    border: 1px solid;
    outline: none;
    border-radius: 5px;
    background: #ffffff;
    width: 80%;
    height: 68px;
    padding: 3px;
    margin-left: 10%;
}

.issue-submit {
    bottom: 0;
    width: 40%;
    height: 5%;
    margin-left: 30%;
    border: 1px solid black;
    border-radius: 5px;
    background: #81ffd5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.x-button {
    bottom: 0;
    width: 5%;
    height: 5%;
    margin-left: 95%;
    border: 1px solid black;
    border-radius: 100%;
    background: #81ffd5;
}
.post-header{
    position: relative;
    width: 100%;
}
.dark{
    position: absolute;
    bottom: 0%;
    min-width: 100%;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
}
.myissue-viewissue-bg {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;

}
.myissue-viewissue-div {

    position: absolute;
    top: 15%;
    width: 600px;
    height: 80%;
    display: flex;
    justify-content: center;
    background-color: white;
}
.myissue-viewissue-closebutton {
    position: absolute;
    right: 0;
    width: 30px;
    height: 30px;
    background-image: url(./logoImages/close.png);
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    margin: 3px 3px 0 0;
    z-index: 10;
}
.myissue-viewissue-issuewrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    
}

.myissue-viewissue-issueinformation {
    position: relative;
    width: 100%;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    
    
}

.myissue-viewissue-issuereplies {

    /* position: relative; */
    /* display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;  */
    width: 100%;
    height: 70%;
    overflow-y: scroll;
    padding: 10px;


}

.myissue-viewissue-groupid {
    width: 100%;
    height: 40px;
    background-color: darkgreen;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid black;
    color: white;

}
.myissue-viewissue-poster {
    color: black;
}

.myissue-viewissue-topic {

}
.myissue-viewissue-description {
    color: black;
}

.myissue-viewissue-reply {
    width: 99%;
    background-color: #1cd579;
    margin: 3px;
    border: 1px solid black;
    box-shadow: 0.01px 0.01px 3px #000000;

}

.myissue-viewissue-author {

}

.myissue-viewissue-response {
   
}


.reply-button {
    position: absolute;
    width: 15%;
    height: 5%;
    border: 1px solid black;
    border-radius: 5px ;
    background-color: #155535;
    color: white;
    font-size: small;
    right: 3%;
    bottom: 3%;
}

.reply-input {
    text-align: left;
    position: absolute;
    border: 1px solid;
    outline: none;
    border-radius: 5px;
    background: #ffffff;
    width: 75%;
    height: 15%;
    padding: 3px;
    bottom: 3%;
    left: 3%;
    resize: none;
}

.verif-input {
    text-align: center;
    margin: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
    border: 1px solid;
    outline: none;
    border-radius: 5px;
    background: #32C96E;
    width: 20%;
    height: 34px;
}

.verifButton {
    position: relative;
    top: 20px;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}